.feed{
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.posts{
    width: 50%;
} 
.post{
    width: 100%;
    /* border: 2px solid red; */
    /* height: 82vh; */
    padding: 7px;
}
.pp{
    height: 40px;
    width: 40px;
    border: 3px solid red;
    border-radius: 50%;
}
.pp img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}
.home-content{
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0px 10px;
}
.content img{
    height: auto;
    width: height;
}
.interect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.com{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 9px;
}